body {
    line-height: 1.7 !important;
}

a {
    color: #324ca8;
    border-bottom: 1px solid #324ca8;
}

a:hover {
    color: white;
    background-color: #324ca8;

}

#last_name {
    /* color: #324ca8; */
}

img {
    box-shadow: 0px 0px 39px -10px rgba(0,0,0,0.5);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container {
    /* opacity: 1; */
    animation-timing-function: ease;
    animation-name: appear;
    opacity: 0;

    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }