#player
{
  margin-left: 80%;

}
#card
{
  float: left;
}

.container
{
  margin-top: 2%;
}

  .input-field input:focus + label {
     color: white !important;

   }
   /* label underline focus color */
   .row .input-field input:focus {
     border-bottom: 1px solid white !important;
     box-shadow: 0 1px 0 0 white !important;

   }
