:root {
  --content_foreground: rgba(255, 255, 255, 0.74);
  --headers_foreground: rgba(255, 255, 255, 0.84);
  --background: #263238;
  --background-light: #37474f;
  --accent: #82aaff;
  --accent2: #c3e88d;
  --header-height: 2vh;
}

body {
  background-color: var(--background);
  color: var(--content_foreground);
  font-family:
    Roboto,
    Cantarell,
    -apple-system,
    BlinkMacSystemFont,
    segoe ui,
    Oxygen,
    Ubuntu,
    open sans,
    helvetica neue,
    sans-serif;
  font-size: 17px;
  height: 100vh;
  flex-direction: column;
  margin: 0;
}

header,
main,
footer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

footer {
  margin-top: 5vh;
  text-align: center;
}

header,
nav,
ul {
  overflow: hidden;
}

header,
h2,
h3,
h4,
h5 {
  color: var(--headers_foreground);
}

th,
td {
  border-bottom: 1px solid var(--background-light);
  padding: 8px;
}

h1.title {
  font-size: 200%;

  text-decoration: underline var(--background-light) 1px;
  text-underline-offset: 10px;
}

h2, h3, h4 {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between text and line */
}

h2::after, h3::after, h4::after {
    content: '';
    flex-grow: 1; /* Makes the line fill remaining space */
}

h2::after {
    height: 2px;
    background-color: var(--background-light);
}

h3::after {
    height: 1px;
    background-color: var(--background-light);
}

.post-title {
  font-size: 200%;
  color: white;
  text-underline-offset: 10px;
  text-align: center;
}

button {
  background-color: var(--background-light);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 25px -10px black;
}

a.hidden {
  text-decoration: none;
  color: inherit;
}

a,
button {
  color: white;
  transition: 0.5s;
}

a {
  text-underline-offset: 2px;
}

a[target="_blank"] {
  text-decoration: underline white 1px dashed;
  text-underline-offset: 2px;
}

button:hover {
  background-color: var(--accent);
}

a:hover {
  color: var(--accent);
}

footer>p>a {
  text-decoration: none;
}

nav>ul {
  padding-left: 0px;
}

nav>ul>li {
  display: block;
  float: right;
  padding: 5px;
}

svg {
  height: auto;
  max-width: 100%;
}

.svg-icon {
  width: 30px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.logo {
  float: left;
}

main {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7;
  width: 94%;
}

/* All `code` blocks are wrapped in `pre`, which actually
* determines the line height. For some reason, changing it at the
* `code` element does not work. */
pre {
  line-height: 1;
}

blockquote>* {
  margin: 5px;
}

blockquote {
  background-color: var(--background-light);
  padding: 5px;
  margin: 0px;
  border-radius: 10px;
  font-style: italic;
}

.index-list-container {
  text-align: left;
  display: flex;
  justify-content: center;
}

ul>li {
  margin-left: 0px;
}

.index-div {
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.index-image {
  background-image: url("https://github.com/wint3rmute.png");
  background-position: center center;
  background-size: cover;
  width: 30vh;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 35px -10px black;
}

.image {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

.small {
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 0px 0px 50px -10px black;
}

img {
  object-fit: contain;
  max-width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

::selection {
  background: var(--accent);
  color: black;
}

pre {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid var(--background-light);
  border-bottom: 1px solid var(--background-light);
  background-color: transparent !important;
}

hr {
  border: 1px solid var(--background-light);
  width: 80%;
}

@media only screen and (min-width: 768px) {
  header {
    width: 55%;
  }

  main {
    width: 40%;
  }

  .small {
    max-width: 60%;
  }

  main svg {
    position: relative;
    max-width: 180%;
    margin-left: -40%;
    margin-right: auto;
  }

  blockquote {
    margin: 5%;
  }
}

.dictionary-word {
  font-family: serif;
}

.dictionary-source {
  font-size: 80%;
  margin-top: -15px;
  margin-bottom: 30px;
}

.dictionary-letter {
  font-family: serif;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

li.recently-updated-item {
  list-style-type: circle;
}
