:root {
  --foreground-color: rgba(255, 255, 255, 0.74);
  --foreground-headers: rgba(255, 255, 255, 0.84);
  --background: #263238;
  --background-light: #37474f;
  --accent: #82aaff;
  --accent2: #c3e88d;
  --header-height: 2vh;
}

body {
  background-color: var(--background);
  color: var(--foreground-color);
  font-family:
    Roboto,
    Cantarell,
    -apple-system,
    BlinkMacSystemFont,
    segoe ui,
    Oxygen,
    Ubuntu,
    open sans,
    helvetica neue,
    sans-serif;
  font-size: 17px;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  line-height: 1.7;
}

header,
main,
footer {
  margin-left: auto;
  margin-right: auto;
}

footer {
  border-top: 1px solid var(--background-light);
  margin-top: 3rem;
  text-align: center;
}

nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;

  /* Position above the rest */
  z-index: 1;

  justify-content: space-between;
  align-items: center;
  background-color: var(--background);

  border-bottom: 1px solid transparent;
  animation: nav-border ease-in both;
  animation-timeline: scroll();
  animation-range: 10px 100px;
}

@keyframes nav-border {
  to {
    border-bottom: 1px solid var(--background-light);
  }
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-link {
  color: white;
  padding: 0.4rem 0.4rem;
}

header,
h2,
h3,
h4,
h5 {
  color: var(--foreground-headers);
}

table {
  margin: 0 auto;
}

th,
td {
  border-bottom: 1px solid var(--background-light);
  padding: 0.5rem;
}

.index-page-title {
  text-decoration: underline var(--background-light) 1px !important;
  text-underline-offset: 10px;
  font-size: 200%;
}

h1, h2, h3, h4 {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between text and line */
}

h1::after, h2::after, h3::after, h4::after {
    content: '';
    flex-grow: 1; /* Makes the line fill remaining space */
    border-radius: 3px;
}

h1::after {
    height: 4px;
    background-color: var(--background-light);
}

h2::after {
    height: 2px;
    background-color: var(--background-light);
}

h3::after {
    height: 1px;
    background-color: var(--background-light);
}

.post-title {
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-size: 200%;
  color: white;
  text-underline-offset: 10px;
  text-align: center;
}

button {
  background-color: var(--background-light);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 25px -10px black;
}

a.hidden {
  text-decoration: none;
  color: inherit;
}

a,
button {
  color: white;
  transition: 0.5s;
}

a {
  text-underline-offset: 2px;
}

a[target="_blank"] {
  text-decoration: underline white 1px dashed;
  text-underline-offset: 2px;
}

button:hover {
  background-color: var(--accent);
}

a:hover {
  color: var(--accent);
}

footer a {
  text-decoration: none !important;
}

svg {
  height: auto;
  max-width: 100%;
}

.svg-icon {
  width: 1.8rem;
  height: 1.8rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

figcaption {
  text-align: center;
  font-style: italic;
  padding-left: 10%;
  padding-right: 10%;
}

main {
  margin-left: auto;
  margin-right: auto;
  /* Important for mobile view. Don't remove! */
  width: 94%;
}

blockquote > * {
  margin: 5px;
}

blockquote {
  border-left: 2px solid var(--accent);
  background-color: var(--background-light);
  padding: 5px;
  border-radius: 0px 10px 10px 0px;
  font-style: italic;
}

.index-list-container {
  text-align: left;
  display: flex;
  justify-content: center;
}

.index-div {
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.index-image {
  background-image: url("https://github.com/wint3rmute.png");
  background-position: center center;
  background-size: cover;
  width: 30vh;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 35px -10px black;
}

.image {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

.small {
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 0px 0px 50px -10px black;
}

img {
  object-fit: contain;
  max-width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

::selection {
  background: var(--accent);
  color: black;
}

/* This wraps each `code` element */
pre {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid var(--background-light);
  border-bottom: 1px solid var(--background-light);
  background-color: transparent !important;

  /* All `code` blocks are wrapped in `pre`, which actually
  * determines the line height. For some reason, changing it at the
  * `code` element does not work. */
  line-height: 1;
}

hr {
  border: 1px solid var(--background-light);
  width: 80%;
}

.dictionary-word {
  font-family: serif;
}

.dictionary-source {
  font-size: 80%;
  margin-top: -15px;
  margin-bottom: 30px;
}

.dictionary-letter {
  font-family: serif;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: 98%;
}

.recently-updated-item {
  list-style-type: circle;
}

@media only screen and (min-width: 768px) {
  nav {
    padding-left: 25%;
    padding-right: 25%;
  }
  main {
    width: 40%;
  }

  .small {
    max-width: 60%;
  }

  main svg {
    position: relative;
    max-width: 180%;
    margin-left: -20%;
    margin-right: auto;
  }

  blockquote {
    margin: 5%;
  }
}
