<!DOCTYPE html>
{# Root template #}
<html lang="en">

{% set build_date = load_data(path="generated/build_date.txt", required=true, format="plain") -%}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="/og_image.jpg">
  <meta name="theme-color" content="#f9f9f7" media="(prefers-color-scheme: light)" />
  <meta name="theme-color" content="#131313" media="(prefers-color-scheme: dark)" />
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }} - dreaming.systems">
  <meta name="description" content="{{ page.title }} - dreaming.systems">
  {% endif %}
  <meta name="author" content="wint3rmute">
    <title>dreaming.systems{% if page.title %} - {{ page.title }}{% endif %}
    </title>
  <link rel="stylesheet" href="/style.css">
  <link rel="alternate" type="application/atom+xml" title="dreaming.systems journal" href="/atom.xml?type=blog" />
</head>

<body>
  {% block content %}
  {% endblock %}

  <footer>
    <p>
      <a target="_blank" href="https://github.com/Wint3rmute">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
          </path>
        </svg>
      </a>

      <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img src="/cc.png" height="24" width="24"/>
      </a>
    </p>
    <p>
      <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
        BY-NC-SA 4.0
      </a>
      Build date: {{ build_date }}
    </p>
  </p>

  </footer>
</body>
</html>
