{# Landing page #}
{% extends "base.html" %}
{% block content %}
{% set recently_updated_posts = load_data(path="./generated/recently_updated.json", required=true) %}

<div class="index-div">
  <div class="index-image"></div>
  <h1 class="title">
    Mateusz 
    <a class="hidden" href="/baczek">Bączek</a>
  </h1>

  Programming/designing/thinking about:

  <div class="index-list-container">
  <ul>
    <li><a href="/exocortex">Exocortexes</a> (this page being one)</li>
    <li><a href="/sounds">Sounds & Melodies</a></li>
    <li><a href="/linux">Linux setups</a></li>
    <li><a href="/scratchpad">Small coding experiments</a></li>

    <hr>
    Recently edited:

    {% for post in recently_updated_posts -%}
      <li class="recently-updated-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
    {%- endfor %}
    </ul>
  </div>

  <br>
  <a href="/about">
    <button>Read more about my work</button>
  </a>

</div>
{% endblock content %}

