{# Landing page #}
{% extends "base.html" %}
{% block content %}

<div class="index-div">
  <div class="index-image"></div>
  <h1>
    Mateusz <a class="hidden" href="baczek-in-polish">Bączek</a>
  </h1>

  Programming/designing/thinking about:

  <div class="index-list-container">
  <ul>
    <li><a href="/exocortex">Exocortexes</a></li>
    <li>Sounds & Melodies</li>
    <li>Linux setups</li>
    <li><a href="/open-source-daily-guide">Decentralisation of the internet</a></li>
    <li>Satellites & UAVs</li>
  </ul>
  </div>

  <a href="/about">
    <button>Read more about my work</button>
  </a>

</div>
{% endblock content %}

