{# Landing page #}
{% extends "base.html" %}
{% block content %}

<div class="index-div">
  <div class="index-image"></div>
  <h1>
    Mateusz Bączek
  </h1>

  Programming/designing/thinking about:

  <div class="index-list-container">
  <ul>
    <li>Exocortexes</li>
    <li>Sounds & Melodies</li>
    <li>Linux setups</li>
    <li>Decentralisation of the internet</li>
    <li>Satellites & UAVs</li>
  </ul>
  </div>

  <a href="/about">
    <button>Read more about my work</button>
  </a>

  <a href="/now">
    <p>Current devlog</p>
  </a>

</div>
{% endblock content %}

