{# Blog entry template #}
{% extends "base.html" %}

{% block content %}

{% set filename_no_slashes = page.path | replace(from="/", to="") %}
{% set related_file_name = [ filename_no_slashes, ".json" ] | join() %}
{% set related_file_path = ["generated", related_file_name ] | join(sep="/") -%}
{% set related_posts = load_data(path=related_file_path, required=false) -%}

{% set related_map_file_name = [ filename_no_slashes, ".svg" ] | join() %}
{% set related_map_file_path = ["generated", related_map_file_name ] | join(sep="/") -%}
{% set related_map_posts = load_data(path=related_map_file_path, required=true, format="plain") -%}

<article>

<h1 class="post-title">

{% if related_posts %}
  <span style="color: {{ related_posts.color }};">○</span>
  <span style="text-decoration: underline {{ related_posts.color }} 1px;">
{% else %}
  <span style="text-decoration: underline var(--background-light) 1px;">
{% endif %}
    {{ page.title | markdown(inline=True) | safe }}
  <span>
</h1>

{{ page.content | safe }}

<hr>
</article>

{% if related_posts %}
<aside>
<p><a class="hidden" href="/map">Related</a> posts:</p>

<center>
{{ related_map_posts | safe }}
</center>

</aside>
{% else %}{% endif %}

{% endblock content %}
