@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto+Mono');
@import colors
@import headers
@import buttons
@import variables
@import switch

$main-font: 'Comfortaa', cursive
$code-font: 'Roboto Mono', cursive



body
  margin-left: auto
  margin-right: auto
  
  @media (min-width: 640px)
    width: 60%

  width: 90%;
		
  font: 100% $main-font
  color: $primary-color
  background: $background-color



code
  background: $popup-color //lighten($background-color, 10)
  border-radius: $border-radius
  margin: 2vh
  padding: 2vh
  padding-left: 1.5vh
  font-weight: 600
  display: inline-block 
  font: 120% $code-font


textarea,
input[type=text]
 background: transparent
 font: 100% $main-font
 color: white
 border: 0px
 border-bottom: 1px solid grey
 transition: 0.2s

 &:focus
   border-bottom: 1px solid white


form
  border-radius: $border-radius
  padding: 2vh
  margin: 2vh
  display: inline-block
  background: $popup-color
