name: Build site
on: push

permissions:
  contents: read
  pages: write
  id-token: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@master
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          enable-cache: true
      - name: Setup Graphviz
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz
      - name: Install Zola
        uses: taiki-e/install-action@v2
        with:
          tool: zola@0.22.1
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - run: uv sync
      - name: Build the website
        run: |
          uv run python -m exocortex
          zola build
      #   run: ./scripts/build_docker.sh
      - name: Zip the website
        run: mkdir docs && zip -r docs/site.zip public
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "docs"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
