name: Checks
on: push
jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@master
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          enable-cache: true
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - run: uv sync --group dev
      - name: Run linters
        run: |
          # Formatting
          uv run ruff format --check .
          # Import sorting
          uv run ruff check --select I .
          # Lint
          uv run ruff check .
